/* ##83e85a */
.main-section {
   margin: 1rem;
   border: 1px solid #eee;
   border-radius: 8px;
}


.container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 600px;
}

.image-container {
   /* border: 1px solid black; */
   height: 100%;
   overflow: hidden;
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px;
   background-image: url("../../assets/header.jpeg");
   background-position: center;
   background-size: cover;
   flex: 1;
}

.text-container {
   height: 100%;
   flex: 1;
}

.main-navbar {
   padding: 1rem 2rem;
   border-bottom: 1px solid #eee;
}

.navbar-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar-logo-container {
   display: flex;
   align-items: center;
}

.navbar-logo-image {
   height: 25px;
   width: 25px;
   margin-right: 12px;
   background-color: black;
   border-radius: 50%;
}

.navbar-logo-text {
   font-size: 1rem;
   font-weight: 900;
}

.navbar-link-container {}

.navbar-links {
   display: flex;
   list-style: none;
}

.navbar-link {
   margin: 0 12px;
   font-weight: 600;
}

.hero-section{
   margin-top: 6rem ;
   padding: 3rem ;
}


.hero-subtitle{
   font-weight: 900;
   color: #83e85a ;
}

.hero-main-tilte{
   margin-top: 12px;
   font-weight: 900;
   line-height: 40px;
   font-size: 2rem;
}


#green-text{
   color: #83e85a ;
}

.hero-main-paragraph{
   margin-top: 12px;
   font-weight: 500;
}


.hero-main-button{
   margin-top: 20px;
   padding: 0.8rem 1.5rem;
   color: black;
   border: 0;
   font-weight: 900;
   background-image: linear-gradient(to right, hsl(103, 55%, 51%) , #83e85a);
}
