@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: black;
}

body {
   font-family: 'Ubuntu', sans-serif;
}

.capital{
   text-transform: uppercase;
}