@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,600;1,400&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: black;
}

body {
   font-family: 'Karla', sans-serif;
}

.capital{
   text-transform: uppercase;
   color: white ;
}